@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San Jose ,Costa Rica<br />
    Rohmoser,10108<br />
    <abbr title="Telefono"></abbr>
    2295-4909<br />
    <abbr title="Fax">Fax:</abbr>
    2295-3024
</address>

<address>
    <strong>Servicio al Cliente:</strong>   <a href="mailto:servicio-cliente@siteccr.com">servicio-cliente@siteccr.com</a><br />
</address>