@model IEnumerable<FrontEnd.Models.IndexProductoViewModels>
@{
    ViewBag.Title = "Home Page";
}

<h2>Productos</h2>
<hr />
<div class="container">
    <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @producto.Nombre
                        </h4>
                        <h6>$@producto.Precio</h6>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Detalles", "Detalles", "Productos", new { id = producto.Id_Producto }, new { @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>