@model FrontEnd.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<div class="container-fluid d-flex flex-row flex-wrap">

    <div id="content-fotoPerfil" class="d-inline-flex p-2 col-lg-3">
        <div id="fotoPerfil" class="d-flex flex-column">
            <img class="img-thumbnail" src="~/Content/dist/img/avatar5.png" alt="Alternate Text" />
            <a class="btn btn-outline-primary m-2" href="#">Editar Foto de Perfil</a>
        </div>
    </div>

    <div id="content-InformacionPersonal" class="bg-white rounded col-lg-9">
        <div id="informacionPersonal" class="d-flex flex-column">

            <div id="header-informacionPersonal" class="p-2 mt-2 mb-0 border-bottom">
                <h2 class="text-dark">Informacion Personal</h2>
            </div>

            <div id="body-informacionPersonal" class="">
                <form>
                    <div class="form-row p-2 mt-3">
                        <div class="form-group col-md-4">
                            <label for="inputNombre" class="text-dark">Nombre:</label>
                            <input type="text" class="form-control bg-white" id="inputNombre" placeholder="Nombre" value="Joel">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputApellido1" class="text-dark">Apellido 1:</label>
                            <input type="text" class="form-control bg-white" id="inputApellido1" placeholder="Apellido 1" value="Zuniga">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputApellido2" class="text-dark">Apellido 2:</label>
                            <input type="text" class="form-control bg-white" id="inputApellido2" placeholder="Apellido 2" value="Jimenez">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputTelefono" class="text-dark">Telefono:</label>
                            <input type="text" class="form-control bg-white" id="inputTelefono" placeholder="Telefono" value="85859688">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputEmail" class="text-dark">Correo Electronico:</label>
                            <input type="email" class="form-control bg-white" id="inputEmail" placeholder="Correo Electronico" value="joelz2000@live.com">
                        </div>
                        <div class="form-group row border-top col-md-12 mb-0">
                            <button type="submit" class="btn btn-primary mt-2">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="content-Direccion" class="bg-white rounded col-lg-10 mt-5">
        <div id="Direccion" class="d-flex flex-column">

            <div id="header-Direccion" class="p-2 mt-2 mb-0 border-bottom">
                <h2 class="text-dark">Direccion</h2>
            </div>

            <div id="body-Direccion" class="">
                <form>
                    <div class="form-row p-2 mt-3">
                        <div class="form-group col-md-12">
                            <label for="inputDireccion" class="text-dark">Direccion:</label>
                            <input type="text" class="form-control bg-white" id="inputDireccion" placeholder="Nombre" value="Avenida 31A">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleFormControlSelect1" class="text-dark">Pais</label>
                            <select class="form-control bg-white" id="exampleFormControlSelect1">
                                <option>Costa Rica</option>
                            </select>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
